.homeAdmin{
    display: flex;
    width: 100vw;
    height: 100vh;
    .sidebar{
        flex: 0;
        width: auto;
        
    }
    .content{
        background-color: #000000;
        flex: 1;
        color: white;
    }
}