.lists {

    display: flex;
    justify-content: center;
    height: 100vh;
    table{
  
      border: 1px solid black;
      tr{
        border: 1px solid black;
        height: 70px;
        
      }
      td{
        text-align: center;
        border: 1px solid black;
        img{
          background-repeat: no-repeat;
          width: 100%;
        }
      }
      th{
        color:white;
        background-color: rgb(20, 20, 20);
        padding: 20px 40px;
      }
    }
  
  }
  