* {
  box-sizing: border-box;
}
.container {
  color: white;
  cursor: pointer;
  .listImage {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 30vh;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
      transition: 0.5s ease-in-out;
      transform-origin: right;
    }
    .list-card-action {
      position: absolute;
      right: 1rem;
      li {
        position: relative;
        list-style: none;
        width: 2.5rem;
        height: 2.5rem;
        background: rgb(20, 20, 20);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.25rem;
        border-radius: 0.25rem;
        transform: translateX(3.75rem);
        transition: transform 0.5s;
        span {
          position: absolute;
          right: 3.125rem;
          top: 50%;
          transform: translateY(-50%);
          white-space: nowrap;
          background-color: #fff;
          color: #333;
          font-weight: 500;
          font-size: 0.8rem;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          pointer-events: none;
          opacity: 0;
        }
      }
      & :hover {
        background: #ff2020;
        color: #fff;
        span {
          opacity: 1;
        }
      }
    }
  }
  .infoContent {
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    transition: transform 0.5s;
    opacity: 0.8;
    z-index: 1;
    padding: 0.5rem;
    .itemInfo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      text-align: left;
      color: white;
      padding: 0.5rem 0;
    }
  }
}

.container .listImage:hover img {
  transform: scale(1.2);
  opacity: 1;
}

.container .infoContent:hover {
  transform: scaleY(1);
}

.container .listImage:hover .list-card-action li {
  transform: translateX(0px);
}

.container .listImage .list-card-action li:nth-child(2) {
  transition-delay: 0.15s;
}

.container .listImage .list-card-action li:nth-child(3) {
  transition-delay: 0.3s;
}
