.register{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    
    .totalContainer{
        width: 100%;
        
        .firstContainer{
            width: 100%;
            height: auto;
            background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bW92aWUlMjB0aGVhdGVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
            background-position: center;
            background-repeat: none;
            background-size: cover;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            .contentContainer{
                    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
                flex: 1;
                padding: 0 10%;

                .top{
                    height: 5rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .loginButton{
                        width: 100px;
                        height: 33px;
                        margin-right: 10px;
                        background-color:rgb(222,12,23);
                        color: #ffffff;
                        border: none;
                        border-radius:3px;
                    }
                }
                .bottom{
                    padding: 12% 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 100%;
                    color: #ffffff;
                    p{
                        padding: 10px 0;
                    }
                    .mainTitle{
                        font-weight: 900;
                        font-size: 3rem;
                    }
                    .subTitle{
                        font-weight: 700;
                        font-size: 1.5rem;
                    }
                    .otherTitle{
                        font-weight: 700;
                        font-size: 1.25rem;
                        line-height: 1.875rem;
                    }
                    .searchBar{
                        width: 50%;
                        background-color: white;
                        display: inline-flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 20px;
                        height: 50px;
                        border-radius: 5px;
                        input{
                            flex: 9;
                            height: 100%;
                            border: none;
                            padding: 0 10px;
                        }
                        .registerButton{
                            display: flex;
                            align-items: center;
                            height: 100%;
                            padding: 0 10px;
                            background-color: rgb(222,12,23);
                            color: #ffffff;
                            border: none;
                            border-radius:3px;
                            font-weight: 700;
                            font-size: 1.25rem;
                            line-height: 1.875rem;
                        }
        
                    }
            }
            
            }
        }
        
        .secondContainer{
            width: 100%;
            
            display: flex;
            align-items: center;
            color: white;
            background-color: black;
            padding: 8% 10%;

            .title{
                flex: 0.5;
                .mainTitle{
                    padding: 10px 0;
                    font-weight: 900;
                    font-size: 3rem;
                }
                .subTitle{
                    padding: 10px 0;

                    font-weight: 700;
                    font-size: 1.5rem;
                }
            }
            .slideVideo{
                flex: 0.5;
                background-color: black;
                position: relative;
                img{
                    position: relative;
                    z-index: 2;
                    
                }
                video{
                    position: absolute;
                    z-index: 1;
                    width: 65%;
                    height: 50%;
                    left: 10%;
                    top: 44%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    pointer-events: none;

                }
            }
        }
        .thirdContainer{
            width: 100%;
            display: flex;
            align-items: center;
            color: white;
            background-color: black;
            padding: 2% 10%;

            .imgDowload{
                flex: 0.5;
                position: relative;

                .dowloadFilm{
                    position: absolute;
                    z-index: 1;
                    width: 50%;
                    height: 25%;
                    left: 18%;
                    top: 75%;
                    padding: 5px;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    justify-content: space-between;
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    border: 2px solid gray;
                    border-radius: 8px;
                    background-color: black;
                    .title{

                        .mainTitle{
                            padding: 2px 0;
                        }
                        .subTitle{
                            padding: 2px 0;
                            color: #0071eb;
                        }
                    }
                }
            }
            .titleDowload{
                flex: 0.5;
                .mainTitle{
                    padding: 10px 0;
                    font-weight: 900;
                    font-size: 3rem;
                }
                .subTitle{
                    padding: 10px 0;

                    font-weight: 700;
                    font-size: 1.5rem;
                }
            }
        }
        .fourContainer{
            width: 100%;
            
            display: flex;
            align-items: center;
            color: white;
            background-color: black;
            padding: 8% 10%;

            .title{
                flex: 0.5;
                .mainTitle{
                    padding: 10px 0;
                    font-weight: 900;
                    font-size: 3rem;
                }
                .subTitle{
                    padding: 10px 0;

                    font-weight: 700;
                    font-size: 1.5rem;
                }
            }
            .slideVideo{
                flex: 0.5;
                background-color: black;
                position: relative;
                img{
                    position: relative;
                    z-index: 2;
                    
                }
                video{
                    position: absolute;
                    z-index: 1;
                    width: 50%;
                    height: 50%;
                    left: 18%;
                    top:36%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    pointer-events: none;
                }
            }
        }
        .fiveContainer{
            width: 100%;
            display: flex;
            align-items: center;
            color: white;
            background-color: black;
            padding: 2% 10%;

            .imgDowload{
                flex: 0.5;
                position: relative;
            }
            .titleDowload{
                flex: 0.5;
                .mainTitle{
                    padding: 10px 0;
                    font-weight: 900;
                    font-size: 3rem;
                }
                .subTitle{
                    padding: 10px 0;

                    font-weight: 700;
                    font-size: 1.5rem;
                }
            }
        }
    }
}
