.register {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  .totalContainer {
    width: 100%;

    .firstContainer {
      width: 100%;
      height: auto;
      background-image: url("https://images.pexels.com/photos/342003/pexels-photo-342003.jpeg");
      background-position: center;
      background-repeat: none;
      background-size: cover;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      .contentContainer {
        background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.8) 0,
          rgba(0, 0, 0, 0) 60%,
          rgba(0, 0, 0, 0.8) 100%
        );
        flex: 1;
        padding: 0 10%;

        .top {
          height: 5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .actionButtons{
            display: flex;
            .loginButton {
              width: 100px;
              height: 33px;
              margin-right: 10px;
              background-color: rgb(222, 12, 23);
              color: #ffffff;
              border: none;
              border-radius: 24px;
            }
          }

        }
        .bottom {
          padding: 12% 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          flex-wrap: wrap;
          height: 100%;
          text-align: center;
          color: #ffffff;
          p {
            padding: 10px 0;
          }
          .mainTitle {
            font-weight: 900;
            font-size: 3rem;
          }

          .mainTitle span::before {
            content: CoCoMovie;
            color: rgb(222, 12, 23);
          }
          .subTitle {
            font-weight: 700;
            font-size: 1.5rem;
          }
          .otherTitle {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.875rem;
          }
          .registerButton {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 10px;
            background-color: rgb(222, 12, 23);
            color: #ffffff;
            border: none;
            border-radius: 24px;
            font-size: 1.25rem;
            line-height: 1.875rem;
          }
        }
      }
    }

    .secondContainer {
      width: 100%;

      display: flex;
      align-items: center;
      
      color: white;
      background-color: black;
      padding: 8% 10%;
      justify-content: center;
      .title {
        flex: 0.5;
        padding: 5%;

        .mainTitle {
          padding: 10px 0;
          font-weight: 900;
          font-size: 3rem;
        }
        .subTitle {
          font-weight: 500;
          font-size: 1.5rem;
        }
      }
      .slideVideo {
        display: flex;
        flex: 0.5;
        width: 100%;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
    .thirdContainer {
      width: 100%;
      display: flex;
      align-items: center;
      color: white;
      background-color: rgb(20, 20, 20);
      padding: 2% 10%;
      flex-wrap: wrap;
      justify-content: center;
      .imgDowload {
        flex: 0.5;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .titleDowload {
        flex: 0.5;
        padding: 5%;

        .mainTitle {
          padding: 10px 0;
          font-weight: 900;
          font-size: 3rem;
        }
        .subTitle {
          padding: 10px 0;

          font-weight: 700;
          font-size: 1.5rem;
        }
      }
    }
    .fourContainer {
      width: 100%;

      display: flex;
      align-items: center;
      color: white;
      background-color: rgb(20, 20, 20);
      padding: 5% 10%;
      flex-direction: column;
      .title {
        .mainTitle {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          font-weight: 500;
        }
      }
      .ourPartner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        img {
          padding: 0 10px;
        }
      }
    }
    .fiveContainer {
      width: 100%;

      display: flex;
      align-items: center;
      color: white;
      padding: 8% 10%;
      flex-direction: column;
      background-color: black;

      .title {
        display: flex;
        justify-content: center;
        margin: 20px;
        .mainTitle {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          font-weight: 500;
          text-align: center;
        }
      }
      .ourServices {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .serviceItem {
          border: 2px solid white;
          margin: 10px;
          border-radius: 24px;

          img {
            width: 100%;
            border-top-left-radius: 19px;
            border-top-right-radius: 19px;
          }
          .infoService {
            padding: 20px;
          }
        }
      }
    }
  }
}

/*  Mobie: width <740px */
@media only screen and (max-width: 46.1875em) {
  .secondContainer {
    flex-wrap: wrap;

    .slideVideo {
      .title {
        .mainTitle {
          font-size: 2rem;
        }
        .subTitle {
          font-size: 1rem;
        }
      }
      img {
      }
    }
  }
  .fourContainer {
    .ourPartner {
      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}
/*  Mobie: width <740px */
@media only screen and (max-width: 46.1875em) {
  .register .totalContainer .secondContainer .slideVideo img {
    height: 400px;
  }
  .register .totalContainer .thirdContainer .imgDowload img {
    height: 400px;
  }
}

/* Tablet: width >=740px  and width <1024px */
@media only screen and (min-width: 46.25em) and (max-width: 64em) {

  .fourContainer {
    .ourPartner {
      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}

/* PC :width >= 1024px */
@media only screen and (min-width: 64em) {
}
