.lists {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
  .table-list-container {
    max-width: 100%;
    table {
      width: 100%;
      background: rgb(20, 20, 20);
      border-collapse: collapse;
      line-height: 1.5;
      font-size: 1.25rem;
      th,
      td {
        text-align: center;
      }
      caption,
      th,
      td {
        color: #eee;
        padding: 1rem;
      }
      caption {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      th {
        background: hsl(0 0% 0% / 0.5);
      }
    }
  }
}

@media screen and (max-width: 37.5rem) {
  th {
    display: none;
  }
  td {
    display: grid;
    grid-template-columns: 15ch auto;
    padding: 0.5rem 1rem;
  }
  td:last-child {
    padding-bottom: 2rem;
  }
  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
    text-align: left;
  }
}

@media screen and (max-width: 48rem) {
  .btnDelete {
    width: 10%;
    justify-self: center;
  }
}

@media screen and (max-width: 64rem) {
  .btnDelete {
    width: 10%;
    justify-self: center;
  }
}
