.sidebar{
    background-color: aquamarine;
    width: 100%;
    .sidebarWrapper{
        display: flex;
        padding: 20px;
        border: 1px solid black;
        justify-content: space-between;
        .sidebarMenu{
            border: 1px solid black;

        }
    }
}