.navbar {
    position: fixed;
    width: 100%;
    z-index: 99;
    color: white;
    font-size: 1.2rem;
    top: 0;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.5) 50%);
    display: flex;
    align-items: center;
    padding: 0 1%;
    width: 100%;
    &.scrolled {
        background-color: rgb(20, 20, 20);
    }

    .navbarContent {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                width: 100px;
                height: 60px;
            }

            span {
                text-align: center;
                padding: 10px 20px;
            }
        }

        .right {
            gap: 0.9rem;

            display: flex;
            align-items: center;
            position: relative;

            .searchBox {
                height: 34px;
                display: flex;
                cursor: pointer;
                padding: 4px;
                border-radius: 30px;
                align-items: center;

                .searchBtn {
                    margin-top: 5px;
                }

                input {
                    width: 0;
                    outline: 0;
                    border: none;
                    font-weight: 500;
                    transition: 0.8s;
                    background: transparent;
                    margin-left: 5px;
                }::placeholder{
                    color: white;
                }
            }

            :hover input {
                width: 200px;
            }

            .searchBox:hover {
                border: 2px solid white;
            }

            .dropdownNoti {
                position: relative;
                display: inline-block;
                .notiContent{
                    display: none;
                    position: absolute;
                    min-width: 260px;
                    background-color: rgba(15, 15, 15, 0.79);
                    box-shadow: 2px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    right: 4px;
                    left: auto;

                    .notiItem{
                        padding: 10px;
                        border-bottom: 1px solid white;
                        display: flex;
                    }
                }
            }:hover .notiContent{
                display: block;
            }

            .imgUser {
                width: 35px;
                height: 35px;
                border-radius: 5px;
            }

            .profileUser {
                .options {
                    display: flex;
                    flex-direction: column;
                    background-color: rgba(15, 15, 15, 0.85);
                    border-radius: 5px;
                    position: absolute;
                    z-index: 1;
                    list-style-type: none;
                    margin: 5px 0;
                    right: 4px;
                    left: auto;

                    span {
                        padding: 20px;
                        cursor: pointer;
                    }
                }

                // .options{
                //     display: flex;
                //     flex-direction: column;
                //     position: absolute;
                //     padding: 0 20px;
                //     text-align: left;
                //     margin-top: 4px;

                //     right: 4px;
                //     left: auto;
                // }
            }
        }
    }
}