.navbar{
    position: fixed;
    width: 100%;
    z-index: 99;
    color: white;
    font-size: 1.2rem;
    top: 0;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.5) 50%);
    display: flex;
    align-items: center;
    &.scrolled{
        background-color:rgb(20, 20, 20);

    }
    .navbarContent{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        .left{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                width: 50px ;
                height: 30px;
            }
            span{
                text-align: center;
                padding: 20px;
            }
        }
        .right{
            gap: 1rem;

            display: flex;
            align-items: center;
            .icon{
                // padding: 0 20px;
            }
            .imgUser{
                
                width: 35px ;
                height: 35px;
                border-radius: 5px;
            }
            .profileUser{
                .options{
                    display: none;
                    background-color:rgb(20, 20, 20);
                    border-radius: 5px;
                    span{
                        padding: 10px;
                        cursor: pointer;
                    }
                }
                &:hover{
                    .options{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        padding: 0 20px;
                        text-align: left;
                        margin-top: 4px;
                        
                        right: 4px;
                        left: auto;
                    }
                }
            }

        }
    }
}
