.simpleAccordion{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 10% 10%;
    background-color: black;
    color: white;
    
    font-weight: 700;
    font-size: 1.5rem;
    h1{
        text-align: center;
        padding: 50px 20px;
    }
    .lastTitle{
        padding: 5%;
        .searchBar{
            width: 50%;
            background-color: white;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 3%;
            height: 50px;
            border-radius: 5px;
            input{
                flex: 9;
                height: 100%;
                border: none;
                padding: 0 10px;
            }
            .registerButton{
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0 10px;
                background-color: #E50914;
                color: #ffffff;
                border: none;
                border-radius:3px;
                font-weight: 700;
                font-size: 1.25rem;
                line-height: 1.875rem;
            }

        }
    }
}
