.footer {
  color: white;

  background-color: rgb(20, 20, 20);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  .topFooter {
    padding: 5% 1% 2% 1%;
    background-color: rgb(12, 12, 12);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .leftFooter {
      display: flex;
      flex-direction: column;
      flex: 0.55;
      .title {
        display: flex;
        padding: 20px 0;
        h3 {
          padding: 0 20px;
        }
      }
      .icon {
        padding: 20px;
      }
    }
    .centerFooter {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      flex: 0.2;
      .columns {
      }
      .icon {
        display: flex;
        padding: 20px 0;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: rgba(41, 41, 41, 0.76);
          color: white;
        }
      }
    }
    .rightFooter {
      flex: 0.2;

      padding: 20px 0;
      display: flex;
      flex-direction: column;
      .getUs {
        padding: 20px 0;
        img {
          padding-right: 15px;
        }
      }
      .buttonService {
        padding: 20px 0;
      }
    }
  }

  .bottomFooter{
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    .copyRight{
        padding: 10px 0;
    }
  }
}
