.footer {
  color: white;
  background-color: rgb(20, 20, 20);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;

  .topFooter {
    padding: 5% 1% 2% 1%;
    background-color: rgb(12, 12, 12);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .leftFooter {
      display: flex;
      flex-direction: column;
      flex: 0.55;
      .title {
        display: flex;
        padding: 20px 0;
        
        h3 {
          margin-right: 5px;
        }
      }
      .icon {
        padding: 20px;
      }
    }
    .centerFooter {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      flex: 0.2;
      .icon {
        display: flex;
        padding: 20px 0;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: rgba(41, 41, 41, 0.76);
          color: white;
        }
      }
    }
    .rightFooter {
      flex: 0.2;

      padding: 20px 0;
      display: flex;
      flex-direction: column;
      .getUs {
        padding: 20px 0;
        display: flex;
        flex-wrap: nowrap;
        img {
          padding-right: 15px;
        }
      }
      .buttonService {
        padding: 20px 0;
      }
    }
  }

  .bottomFooter {
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    .copyRight {
      padding: 10px 0;
    }
  }
}
.ipadFooter {
  display: none;
}
/*  Mobie: width <740px */
@media only screen and (max-width: 46.1875em) {
  .topFooter {
    flex-direction: column;
    .leftFooter {
      .title {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        h3 {
          text-align: center;
          padding: 10px 20px;
          font-size: 1.5rem;
        }
      }
      .icon {
        display: none;
      }
    }
    .rightFooter {
      text-align: center;
    }
  }
}

/* Tablet: width >=740px  and width <1024px */
@media only screen and (min-width: 46.25em) and (max-width: 64em) {
  .footer {
    .title{
      justify-content: space-between;
    }
    .topFooter {
      display: none;
    }
    .ipadFooter {
      display: block;
      display: flex;
      .leftFooter {
        display: flex;
        flex-direction: column;
        flex: 0.65;
        .title {
          display: flex;
          padding: 20px;
          h3 {
          }
        }
        .icon {
          padding: 20px;
        }
      }
      .rightFooter {
        flex: 0.35;
  
        padding: 20px;
        display: flex;
        flex-direction: column;
        .followUs{
          padding: 20px 0;
        }
        .getUs {
          img {
            padding-right: 15px;
          }
        }
        .buttonService {
          padding-bottom: 10px;
        }
      }
    }
  }
}

/* PC :width >= 1024px */
@media only screen and (min-width: 64em) {
  .title {
    h3 {
      padding: 0 20px;
    }
  }
}
