.list {
  width: 100%;
  padding: 1% 2%;
  background-color: rgba(20, 20, 20);
  .listTitle {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper {
    position: relative;
    width: min(100vw, 100% - 3rem);
    margin: 1rem;
    .container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
      gap: 1rem;
      transform: translateX(0rem);
      transition: all 1s ease;
      background-color: rgb(20, 20, 20);
    }
  }
}
