.list {
  width: 100%;
  padding: 1% 2%;
  background-color: rgba(20, 20, 20);
  .listTitle {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper {
    position: relative;
    .container {
      // margin-left: 50px;
      display: flex;
      margin-top: 10px;
      width: max-content;
      transform: translateX(0px);
      transition: all 1s ease;
    }
  }
}
